* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}

body {
   font-family: "Poppins", sans-serif;
}

a {
   text-decoration: none;
   color: #555;
}

p {
   color: #555;
}

ul {
   list-style-type: none;
}

.logo {
   width: 125px;
}

.btn {
   display: inline-block;
   background: #ff523b;
   color: white;
   padding: 8px 30px;
   margin: 30px 0;
   border-radius: 20px;
}

.btn:hover {
   background: #563434;
   transition: background 0.5s;
}

.header {
   background: radial-gradient(#fff, #ffd6d6);
}

.container {
   max-width: 1300px;
   margin: 0 auto;
   padding: 0 25px;
}

.navbar {
   display: flex;
   align-items: center;
   padding: 20px;
}

/* icono menu */
.menu_icon {
   width: 28px;
   margin-left: 20px;
   display: none;
}

nav {
   flex: 1;
   text-align: right;
}

nav ul {
   display: inline-block;
   list-style: none;
}

nav ul li {
   display: inline-block;
   margin-right: 20px;
}

.row {
   display: flex;
   align-items: center;
   flex-wrap: wrap;
   justify-content: space-around;
}

.col2 {
   flex-basis: 50%;
   min-height: 300px;
}

.col2 img {
   max-width: 100%;
   padding: 50px 0;
}

.col2 h1 {
   font-size: 50px;
   line-height: 60px;
   margin: 25px 0;
}

header .row {
   margin-top: 70px;
}

/* categories */

.categories {
   margin: 70px 0;
}

.col3 {
   flex-basis: 30%;
   min-width: 250px;
   margin-bottom: 30px;
}

.col3 img {
   width: 100%;
}

.small_container {
   max-width: 1080px;
   margin: auto;
   padding: 0 25px;
}

/* Featured Products */

.col4 {
   flex-basis: 25%;
   padding: 10px;
   min-width: 200px;
   margin-bottom: 50px;
   transition: transform 0.5s;
}

.col4:hover {
   transform: translateY(5px);
}

.col4 img {
   width: 100%;
}

.title {
   text-align: center;
   margin: 0 auto 80px;
   position: relative;
   line-height: 60px;
   color: #555;
}

.title::after {
   content: " ";
   background: #ff523b;
   width: 80px;
   height: 5px;
   border-radius: 5px;
   position: absolute;
   bottom: 0;
   left: 50%;
   transform: translateX(-50%);
}

h4 {
   color: #555;
   font-weight: normal;
}

.col4 p {
   font-size: 14px;
}

.rating i {
   color: #ff523b;
   font-size: 12px;
}

/* offer */
.offer {
   background: radial-gradient(#fff, #ffd6d6);
   margin-top: 80px;
   padding: 30px 0;
}

.offer .offer-img {
   padding: 50px;
}

small {
   color: #555;
}

/* TESTIMONIAL */

.testimonial {
   padding-top: 100px;
}

.testimonial .col3 {
   text-align: center;
   padding: 40px 20px;
   box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.1);
   cursor: pointer;
   transition: transform 0.5s;
}

.testimonial .col3:hover {
   transform: translateY(-10px);
}

.testimonial .col3 h3 {
   font-weight: 600;
   font-size: 16px;
   color: #555;
}

.testimonial .col3 img {
   width: 50px;
   margin-top: 20px;
   border-radius: 50%;
}

.fa-quote-left {
   font-size: 34px;
   color: #ff523b;
}

.col3 p {
   font-size: 12px;
   margin: 12px 0;
   color: #777;
}

/* BRANDS */

.brands {
   margin: 100px auto;
}

.col5 {
   width: 160px;
}

.col5 img {
   cursor: pointer;
   width: 100%;
   filter: grayscale(100%);
}

.col5 img:hover {
   filter: grayscale(0);
}

/* FOOTER */

.footer {
   background-color: #000;
   color: #8a8a8a;
   font-size: 14px;
   padding: 60px 0 20px;
}

.footer p {
   color: #8a8a8a;
}

.footer h3 {
   color: #fff;
   margin-bottom: 20px;
}

.footer_col1,
.footer_col2,
.footer_col3,
.footer_col4 {
   min-width: 250px;
   margin-bottom: 20px;
}

.footer_col1 {
   flex-basis: 30%;
}

.footer_col2 {
   flex: 1;
   text-align: center;
}

.footer_col2 img {
   width: 180px;
   margin-bottom: 20px;
}

.footer_col3,
.footer_col4 {
   flex-basis: 12%;
   text-align: center;
}

.app_logo {
   margin-top: 20px;
}

.app_logo img {
   width: 140px;
}

.footer hr {
   border: none;
   background: #b5b5b5;
   height: 1px;
   margin: 20px 0;
}
.footer .copy {
   text-align: center;
}

/* media queries menu */

@media only screen and (max-width: 800px) {
   nav ul {
      position: absolute;
      top: 70px;
      left: 0;
      background-color: #333;
      width: 100%;
      overflow: hidden;
      transition: max-height 0.5s;
   }

   nav ul li {
      display: block;
      margin: 10px 50px 10px 0;
   }

   nav ul li a {
      color: #fff;
   }

   .menu_icon {
      display: block;
      cursor: pointer;
   }
}

/* media querie 600px max */

@media only screen and (max-width: 600px) {
   .row {
      text-align: center;
   }

   .col2,
   .col3,
   .col4 {
      flex-basis: 100%;
   }
}
